---
import { Icon } from "astro-icon";

interface Props {
  title: string;
  breakpoint?: "md" | "lg" | "xl" | "2xl";
}

const { title, breakpoint = "lg" } = Astro.props;

// Draw random string and assign as id
const id = (Math.random() + 1).toString(36).substring(7);
---

<button class={`${breakpoint}:hidden block`} data-target={id} data-toggle="sidebar" aria-label="Przełącz menu">
  <slot name="toggler">
    <!-- Default toggler -->
    <div slot="toggler" class="p-2 space-y-2">
      <span class="block w-8 h-0.5 bg-dark"></span>
      <span class="block w-8 h-0.5 bg-dark"></span>
      <span class="block w-8 h-0.5 bg-dark"></span>
    </div>
  </slot>
</button>

<section id={id} class={`max-${breakpoint}:sidebar translate-x-full ${breakpoint}:translate-x-0`} tabindex="-1">
  <!-- Sidebar header -->
  <div class={`${breakpoint}:hidden flex justify-between items-center pt-4 pb-3 mb-5 border-b-[1px]`}>
    <!-- Header -->
    <h4 class="w-full mb-0 text-2xl">{title}</h4>

    <!-- Close btn -->
    <button data-target={id} data-toggle="sidebar" class="rounded w-9 h-9 text-zinc-700 bg-zinc-100">
      <Icon name="ion:close-outline" />
    </button>
  </div>
  <div>
    <slot />
  </div>
</section>

<style>
  @tailwind components;

  @layer components {
    .sidebar {
      @apply fixed top-0 right-0 z-30 flex flex-col h-screen overflow-y-auto transition bg-white px-5 min-w-[20rem] max-w-full w-80;
    }
  }
</style>

<!-- List of dynamic classes (Tailwind won't purge them): -->
<!-- max-md:sidebar max-lg:sidebar max-xl:sidebar max-2xl:sidebar -->
<!-- md:translate-x-0 lg:translate-x-0 xl:translate-x-0 2xl:translate-x-0 -->
<!-- md:hidden lg:hidden xl:hidden 2xl:hidden -->
